<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{.Name}}</title>
      <link rel="stylesheet" href="/css/details.css"/>
  </head>
  <body>
      <div class="cool-header">
          <h2>{{.Name}}</h2>  
          <img src="{{.Image}}" alt="{{.Name}}">
      </div>
      <div>              
        <input type="checkbox" id="mem">  
        <h3><label for="mem">Members</label></h3>
        <h5>{{range .Member}}<br>{{.}}{{end}}</h5>
      </div>
      <div>
        <input type="checkbox" id="cre">
        <h3><label for="cre">Creation Date</label></h3>
        <h5>{{.Creationdate}}<br></h5>
      </div>
      <div>
        <input type="checkbox" id="fir">
        <h3><label for="fir">First Album</label></h3>
        <h5>{{.FirstAlbum}}<br></h5>
      </div>
      <div>
        <input type="checkbox" id="loc">
        <h3><label for="loc">Locations</label></h3>
        <h5>{{range .Locations}}{{.}}<br>{{end}}</h5>
      </div>
      <div>
        <input type="checkbox" id="dat">
        <h3><label for="dat">Dates</label></h3>
        <h5>{{range .Dates}}{{.}}<br>{{end}}</h5>
      </div>
      <div>
      <input type="checkbox" id="rel">
      <h3><label for="rel">Dates and locations</label></h3>
      <h5>{{range .Relations}}{{.}}<br>{{end}}</h5>
    </div>
  </body>
</html>