/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #686868; /* dark background */
    color: #dab744; /* Light gray color */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* No changes to the base styles */

/* Header */
.cool-header {
    background-color: #000000; 
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
}

/* Artist Cards Container */
.artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0; /* Reset padding to 0 to remove any potential spacing */
    margin: 0; /* Reset margin to 0 to remove any potential spacing */
    border: none; /* Ensure there's no border */
}


.artist-card {
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;  /* This makes the card background transparent */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s, box-shadow 0.2s;
}


.artist-card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
}

.artist-image img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.artist-info {
    border-radius: 8px;
    background: #282828; /* Slightly lighter than body background */
    padding: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    margin-top: 10px;
}
