body {
  height: 100%;
  margin: 0;
  padding: 0;
    background-color: #686868;
    text-align: center; 
    color: #dab744; 
    font-family: "Spicy Rice", /*cursive*/;
    font-size: 32px;
}
/* header used same as the one in the homepage but with the artist name*/
.cool-header {
    background-color: #000000; 
    padding: 10px 0;
}
.cool-header a {
  text-decoration: none;
  color: inherit;
}
/*check box expands when clicked but kept hidden*/
.container {
  display: flex;
  text-align: center;
}
.map-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.l-col {
  width: 50%;
}
.r-col {
  flex-grow: 1;
}
input[type="checkbox"] {  
  opacity: 0;
}
input[type="checkbox"]:checked ~ h3 ~ h5 {
min-height: fit-content;
  align-items:baseline; 
  max-height: 2000px;
}
label {
  background: #282828;
  text-align: center; 
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #dab744;
}
label:hover{
  color:#282828;
  background-color:#dab744;
}
label:active{
  opacity: 0.5;
  transition: 0.2s;
}
h5 {
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease;
  display:inline-block;
  text-align: left;
  align-self:initial;
  line-height: 1.5em;
}
#map {
  width: 75%;
  height: 75%;
}
