body {
    font-family: 'Arial', sans-serif;
    background-color: #686868; /* dark background */
    color: #dab744; /* Light gray color */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: xx-large;
    border-radius: 8px;
    padding: 10px;
}
a {
    background-color: #282828 ;
    text-align: center; 
    padding: 10px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }